<section class="bg">
  <div class="card-container">
    <div class="card">
      <div class="text-container">
        <div class="location">{{jsonReaderService.weatherJSON.properties.relativeLocation.properties.city}}
        , {{jsonReaderService.weatherJSON.properties.relativeLocation.properties.state}}</div>
        <span *ngIf="inF" class="temperature">
          {{jsonReaderService.hourlyJSON.properties.periods[0].temperature}} °F
        </span>
        <span *ngIf="inC" class="temperature">
          {{jsonReaderService.hourlyJSON.properties.periods[0].temperature}} °C
        </span>
        <form>
          <input type="radio" id="F" name="temp" checked (click)="convertToF()">
          <label for="F"></label>
          °F
          <br/>
          <input type="radio" id="C" name="temp" (click)="convertToC()">
          <label for="C"></label>
          °C
        </form>
      </div>
      <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" [style.width.%]=time role="progressbar" aria-valuemin="0" aria-valuemax="24">
          </div>
        </div>
      </div>
      <span id="date" [style.width.%]=(time+3.5)>{{date | date: "h:mm a"}}</span>
    </div>
  </div>
</section>
