<section class="bg">
  <div class="card-container">
    <div class="card">
      <div class="text-container">
        <div class="location">{{jsonReaderService.weatherJSON.properties.relativeLocation.properties.city}}
        , {{jsonReaderService.weatherJSON.properties.relativeLocation.properties.state}}</div>
        <span *ngIf="inF" class="temperature">
          {{jsonReaderService.hourlyJSON.properties.periods[0].temperature}} °F
        </span>
        <span *ngIf="inC" class="temperature">
          {{jsonReaderService.hourlyJSON.properties.periods[0].temperature}} °C
        </span>
        <form>
          <input type="radio" id="F" name="temp" checked (click)="convertToF()">
          <label for="F"></label>
          °F
          <br/>
          <input type="radio" id="C" name="temp" (click)="convertToC()">
          <label for="C"></label>
          °C
        </form>
      </div>
      <img *ngIf="(icon=='Clear' || icon=='Sunny' || icon=='Mostly Sunny' || icon=='Mostly Clear') && isDayTime" class="weather-img" src="../../assets/sunny.png" width="130px" height="130px">
      <img *ngIf="(icon=='Clear' || icon=='Sunny' || icon=='Mostly Sunny' || icon=='Mostly Clear') && !isDayTime" class="weather-img-night" src="../../assets/nightsunny.png" width="130px" height="130px">
      <img *ngIf="(icon=='Partly Sunny' || icon=='Mostly Cloudy' || icon=='Cloudy' || icon=='Increasing Clouds' || icon=='Decreasing Clouds' || icon=='Clearing' || icon=='Gradual Clearing' || icon=='Clearing Late' || icon=='Becoming Cloudy') && isDayTime" class="weather-img" src="../../assets/sunwithclouds.png" width="130px" height="130px">
      <img *ngIf="(icon=='Partly Sunny' ||  icon=='Decreasing Clouds' || icon=='Clearing' || icon=='Gradual Clearing' || icon=='Clearing Late' || icon=='Becoming Cloudy') && !isDayTime" class="weather-img-night" src="../../assets/nightwithclouds.png" width="130px" height="130px">
      <img *ngIf="(icon=='Mostly Cloudy' || icon=='Cloudy' || icon=='Increasing Clouds') && isDayTime" class="weather-img" src="../../assets/cloudy.png" width="130px" height="130px">
      <img *ngIf="(icon=='Mostly Cloudy' || icon=='Cloudy' || icon=='Increasing Clouds') && !isDayTime" class="weather-img-night" src="../../assets/cloudy.png" width="130px" height="130px">
      <img *ngIf="(icon=='Rain' || icon=='Slight Chance Rain Showers' || icon=='Chance Rain Showers' || icon=='Rain Showers Likely' || icon=='Rain Showers' || icon=='Slight Chance Rain' || icon=='Chance Rain' || icon=='Rain Likely' || icon=='Rain' || icon=='Heavy Rain' || icon=='Slight Chance Drizzle' || icon=='Chance Drizzle' || icon=='Drizzle Likely' || icon=='Drizzle') && isDayTime" class="weather-img" src="../../assets/rain.png" width="130px" height="130px">
      <img *ngIf="(icon=='Rain' || icon=='Slight Chance Rain Showers' || icon=='Chance Rain Showers' || icon=='Rain Showers Likely' || icon=='Rain Showers' || icon=='Slight Chance Rain' || icon=='Chance Rain' || icon=='Rain Likely' || icon=='Rain' || icon=='Heavy Rain' || icon=='Slight Chance Drizzle' || icon=='Chance Drizzle' || icon=='Drizzle Likely' || icon=='Drizzle') && isDayTime" class="weather-img-night" src="../../assets/rain.png" width="130px" height="130px">
      <img *ngIf="(icon=='Slight Chance Snow Showers' || icon=='Chance Snow Showers' || icon=='Snow Showers Likely' || icon=='Snow Showers' || icon=='Slight Chance Flurries' || icon=='Chance Flurries' || icon=='Flurries Likely' || icon=='Flurries' || icon=='Slight Chance Snow' || icon=='Chance Snow' || icon=='Snow Likely' || icon=='Snow' || icon=='Blizzard') && isDayTime" class="weather-img" src="../../assets/snow.png" width="130px" height="130px">
      <img *ngIf="(icon=='Slight Chance Snow Showers' || icon=='Chance Snow Showers' || icon=='Snow Showers Likely' || icon=='Snow Showers' || icon=='Slight Chance Flurries' || icon=='Chance Flurries' || icon=='Flurries Likely' || icon=='Flurries' || icon=='Slight Chance Snow' || icon=='Chance Snow' || icon=='Snow Likely' || icon=='Snow' || icon=='Blizzard') && isDayTime" class="weather-img-night" src="../../assets/snow.png" width="130px" height="130px">
      <img *ngIf="(icon=='Slight Chance Rain/Snow' || icon=='Chance Rain/Snow' || icon=='Rain/Snow Likely' || icon=='Rain/Snow') && isDayTime" class="weather-img" src="../../assets/rainsnow.png" width="130px" height="130px">
      <img *ngIf="(icon=='Slight Chance Rain/Snow' || icon=='Chance Rain/Snow' || icon=='Rain/Snow Likely' || icon=='Rain/Snow') && !isDayTime" class="weather-img-night" src="../../assets/rainsnow.png" width="130px" height="130px">
      <img *ngIf="(icon=='Isolated Thunderstorms' || icon=='Slight Chance Thunderstorms' || icon=='Chance Thunderstorms' || icon=='Thunderstorms Likely' || icon=='Thunderstorms' || icon=='Severe Tstms') && isDayTime" class="weather-img" src="../../assets/thunderday.png" width="130px" height="130px">
      <img *ngIf="(icon=='Isolated Thunderstorms' || icon=='Slight Chance Thunderstorms' || icon=='Chance Thunderstorms' || icon=='Thunderstorms Likely' || icon=='Thunderstorms' || icon=='Severe Tstms') && !isDayTime" class="weather-img-night" src="../../assets/thundernight.png" width="130px" height="130px">

      <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" [style.width.%]=time role="progressbar" aria-valuemin="0" aria-valuemax="24"></div>
        </div>
      </div>
      <span id="date" [style.width.%]=(time+3.5)>{{date | date: "h:mm a"}}</span>
      <span class="twelveAM">12am</span>
      <span id="twelveAM-bar"></span>
      <span class="threeAM">3am</span>
      <span id="threeAM-bar"></span>
      <span class="sixAM">6am</span>
      <span id="sixAM-bar"></span>
      <span class="nineAM">9am</span>
      <span id="nineAM-bar"></span>
      <span class="twelvePM">12pm</span>
      <span id="twelvePM-bar"></span>
      <span class="threePM">3pm</span>
      <span id="threePM-bar"></span>
      <span class="sixPM">6pm</span>
      <span id="sixPM-bar"></span>
      <span class="ninePM">9pm</span>
      <span id="ninePM-bar"></span>
      <span class="twelveAM-2">12am</span>
      <span id="twelveAM-bar-2"></span>
    </div>
  </div>
</section>
