@import "~bootstrap/dist/css/bootstrap.css";
@import url(http://db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);
@import url(https://db.onlinewebfonts.com/c/b2e75c336df191233b3096682c9ee6be?family=PixelarRegularW01-Regular);

.bg-image {
  position: absolute;
  width: 100%;
  background: url(https://art.pixilart.com/2832dfe4ad7a93d.png);
  background-repeat: repeat;
  overflow-x: hidden;
}
.container {
  margin: 100px 100px 100px 100px;
  font-family: PixelarRegularW01-Regular;
}
.hidden {
  display: none;
}
.location-section {
  width: 500px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.4);
  background-color: white;
  border-radius: 10px;
}
.input-holder {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.header {
  font-size: 40px;
  width: 100%;
  text-align: center;
}
input[type=text] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.location-section .close {
  outline: none;
  margin-right: 10px;
}
.btn-ctr {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  height: 100px;
}
.l-rain {
  width: 250px;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 30px 0 rgba(0, 0, 0, 0.25);
  background: url(https://i.imgur.com/MpkmJUo.gif);
  background-size: cover;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  border: 1px solid white;
  color: white;
}
.l-snow {
  width: 250px;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 30px 0 rgba(0, 0, 0, 0.25);
  background: url(https://i.redd.it/ii6ml342b1541.gif);
  background-size: cover;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  border: 1px solid white;
  color: white;
}
.l-sun {
  width: 250px;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 30px 0 rgba(0, 0, 0, 0.25);
  background: url(https://64.media.tumblr.com/2d57b2a84d1d35abbff731defde7771b/tumblr_omptqtBd3D1vg9wr5o1_640.gifv);
  background-size: cover;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  border: 1px solid white;
  color: white;
}
.l-missing {
  width: 250px;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 30px 0 rgba(0, 0, 0, 0.25);
  background: url(https://giffiles.alphacoders.com/209/209343.gif);
  background-size: cover;
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  border: 1px solid white;
  color: white;
}
.addLocation {
  width: 250px;
  height: 325px;
  border: none;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  margin: 10px 10px;
  display: inline-block;
  vertical-align: top;
  background-color: lightyellow;
}
.delete {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 22px;
  position: absolute;
  width: 475px;
  margin-top: -5px;
  margin-right: -100px;
  outline: none !important;
}
.location {
  text-align: center;
  font-size: 28px;
}
#plus {
  font-size: 70px;
  color: #373837;
  padding: 50px;
  transform: translateY(-10px);
  text-align: center;
  width: 100%;
  display: inline-block;
}
.currentTemperature {
  margin-top: 90px;
  font-size: 56px;
  width: 100%;
  text-align: center;
}
.darken {
  background: rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 325px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  color: white;
}
.shortForecast {
  font-size: 28px;
  width: 100px;
  height: 100px;
}
.shortForecast-container {
  text-align: center;
  width: 100%;
}
.high-low {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
mat-spinner {
  position: absolute;
  margin-top: -15px;
  margin-left: 5px;
}
.btn {
  width: 70px;
  height: 40px;
}
.api-error {
  font-size: 46px;
  width: 100%;
  text-align: center;
  margin-top: 64px;
  color: lightcoral;
}
.fix-margin {
  margin: 10px 10px;
}
.errors {
  color: #92001e;
  position: absolute;
  width: 100%;
  text-align: center;
}
