<section class="home">
  <div class="container">
    <div class="text">
      Welcome to Pixel Weather!
        <br/>
        Here is the
        <u>
          <a href="https://github.com/liamgillies/weather-app" target="_blank">Github link</a>
          </u>
        if you're interested, otherwise
        <br/>
        <button id="proceed" class="btn btn-primary btn-lg" (click)="getJSON()"
                [routerLink]="homeLinkEnabled ? '/today' : null">Proceed</button>
        <br/>
        <div id="subtitle">You will need to enable your location</div>
    </div>
  </div>
</section>
