<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/statecity.js"></script>
<div>
  <div class="entire-container">
  <section [ngClass]="{'bg-rain': isRain, 'bg-sun': isSun, 'bg-snow': isSnow, 'bg-missing': missing}">
    <div class="card-container">
      <div class="card pixel-font">
        <div class="text-container">
          <form (submit)="getCityName(city.value)" onsubmit="return false">
            <label id="search-label">Search: </label>
            <input type="text" #city placeholder="ex. mountain view">
            <label class="error-label" *ngIf="jsonReaderService.cityOutOfBounds">Please search a city inside the US</label>
            <label class="error-label" *ngIf="invalidCity">Invalid City</label>
          </form>
          <mat-spinner *ngIf="loadingCity"></mat-spinner>
          <div class="location">{{jsonReaderService.weatherJSON.properties.relativeLocation.properties.city}},
            {{jsonReaderService.weatherJSON.properties.relativeLocation.properties.state}}</div>
          <span class="temperature" *ngIf="jsonReaderService.hourlyJSON">
            {{jsonReaderService.hourlyJSON.properties.periods[0].temperature}} °F
          </span>
        </div>
        <span class="long-forecast" [innerHTML]="highLow | nl2br"></span>
        <img *ngIf="(isSun || icon=='Clear' || icon=='Haze' || icon=='Mostly Clear') && isDayTime" class="weather-img" src="../../assets/sunny.png">
        <img *ngIf="(isSun || icon=='Clear' || icon=='Haze' || icon=='Mostly Clear') && !isDayTime" class="weather-img-night" src="../../assets/nightsunny.png">
        <img *ngIf="(icon=='Partly Cloudy' || icon=='Mostly Cloudy' || icon=='Cloudy' || icon=='Increasing Clouds' || icon=='Decreasing Clouds' || icon=='Clearing' || icon=='Gradual Clearing' || icon=='Clearing Late' || icon=='Becoming Cloudy') && isDayTime" class="weather-img" src="../../assets/sunwithclouds.png">
        <img *ngIf="(icon=='Partly Cloudy' || icon=='Decreasing Clouds' || icon=='Clearing' || icon=='Gradual Clearing' || icon=='Clearing Late' || icon=='Becoming Cloudy') && !isDayTime" class="weather-img-night" src="../../assets/nightwithclouds.png">
        <img *ngIf="(icon=='Mostly Cloudy' || icon=='Cloudy' || icon=='Increasing Clouds') && isDayTime" class="weather-img" src="../../assets/cloudy.png">
        <img *ngIf="(icon=='Mostly Cloudy' || icon=='Cloudy' || icon=='Increasing Clouds') && !isDayTime" class="weather-img-night" src="../../assets/cloudy.png">
        <img *ngIf="isRain && !isSnow && isDayTime" class="weather-img" src="../../assets/rain.png">
        <img *ngIf="isRain && !isSnow && !isDayTime" class="weather-img-night" src="../../assets/rain.png">
        <img *ngIf="(isSnow && !isRain) || icon=='Slight Chance Flurries' || icon=='Chance Flurries' || icon=='Flurries Likely' || icon=='Flurries' || icon=='Blizzard' && isDayTime" class="weather-img" src="../../assets/snow.png">
        <img *ngIf="(isSnow && !isRain) || icon=='Slight Chance Flurries' || icon=='Chance Flurries' || icon=='Flurries Likely' || icon=='Flurries' || icon=='Blizzard' && !isDayTime" class="weather-img-night" src="../../assets/snow.png">
        <img *ngIf="isRain && isSnow && isDayTime" class="weather-img" src="../../assets/rainsnow.png">
        <img *ngIf="isRain && isSnow && !isDayTime" class="weather-img-night" src="../../assets/rainsnow.png">
        <img *ngIf="jsonReaderService.hourlyJSON.properties.periods[0].shortForecast.toLowerCase().includes('thunderstorms') && isDayTime" class="weather-img" src="../../assets/thunderday.png">
        <img *ngIf="jsonReaderService.hourlyJSON.properties.periods[0].shortForecast.toLowerCase().includes('thunderstorms') && !isDayTime" class="weather-img-night" src="../../assets/thundernight.png">

        <div class="progress-wrapper">
          <div class="progress">
            <div class="progress-bar" [style.width.%]=time role="progressbar" aria-valuemin="0" aria-valuemax="24"></div>
          </div>
        </div>
        <span class="date" [style.width.%]=(time+3.5)>{{displayDate}}</span>
        <span class="twelveAM">12am</span>
        <span id="twelveAM-bar"></span>
        <span class="threeAM">3am</span>
        <span id="threeAM-bar"></span>
        <span class="sixAM">6am</span>
        <span id="sixAM-bar"></span>
        <span class="nineAM">9am</span>
        <span id="nineAM-bar"></span>
        <span class="twelvePM">12pm</span>
        <span id="twelvePM-bar"></span>
        <span class="threePM">3pm</span>
        <span id="threePM-bar"></span>
        <span class="sixPM">6pm</span>
        <span id="sixPM-bar"></span>
        <span class="ninePM">9pm</span>
        <span id="ninePM-bar"></span>
        <span class="twelveAM-2">12am</span>
        <span id="twelveAM-bar-2"></span>

        <div class="future-hours" *ngIf="nextTwelveHours">
          <span class="hours" *ngFor="let hour of nextTwelveHours">
            <span class="mini-container">
              <span class="head">{{getTime(hour)}}</span>
              <div class="hour-temp">{{hour.temperature}} °F</div>
              <img *ngIf="(hour.shortForecast=='Clear' || hour.shortForecast=='Haze' || hour.shortForecast=='Sunny' || hour.shortForecast=='Mostly Sunny' || hour.shortForecast=='Mostly Clear') && hour.isDaytime" class="weather-img-small" src="../../assets/sunny.png">
              <img *ngIf="(hour.shortForecast=='Clear' || hour.shortForecast=='Haze' || hour.shortForecast=='Sunny' || hour.shortForecast=='Mostly Sunny' || hour.shortForecast=='Mostly Clear') && !hour.isDaytime" class="weather-img-small-night" src="../../assets/nightsunny.png">
              <img *ngIf="(hour.shortForecast=='Partly Cloudy' || hour.shortForecast=='Partly Sunny' || hour.shortForecast=='Mostly Cloudy' || hour.shortForecast=='Cloudy' || hour.shortForecast=='Increasing Clouds' || hour.shortForecast=='Decreasing Clouds' || hour.shortForecast=='Clearing' || hour.shortForecast=='Gradual Clearing' || hour.shortForecast=='Clearing Late' || hour.shortForecast=='Becoming Cloudy') && hour.isDaytime" class="weather-img-small" src="../../assets/sunwithclouds.png">
              <img *ngIf="(hour.shortForecast=='Partly Cloudy' || hour.shortForecast=='Partly Sunny' ||  hour.shortForecast=='Decreasing Clouds' || hour.shortForecast=='Clearing' || hour.shortForecast=='Gradual Clearing' || hour.shortForecast=='Clearing Late' || hour.shortForecast=='Becoming Cloudy') && !hour.isDaytime" class="weather-img-small-night" src="../../assets/nightwithclouds.png">
              <img *ngIf="(hour.shortForecast=='Mostly Cloudy' ||  hour.shortForecast=='Cloudy' || hour.shortForecast=='Increasing Clouds') && hour.isDaytime" class="weather-img-small" src="../../assets/cloudy.png">
              <img *ngIf="(hour.shortForecast=='Mostly Cloudy' || hour.shortForecast=='Cloudy' || hour.shortForecast=='Increasing Clouds') && !hour.isDaytime" class="weather-img-small-night" src="../../assets/cloudy.png">
              <img *ngIf="hour.shortForecast.toLowerCase().includes('rain') && !hour.shortForecast.toLowerCase().includes('snow') && hour.isDaytime" class="weather-img-small" src="../../assets/rain.png">
              <img *ngIf="hour.shortForecast.toLowerCase().includes('rain') && !hour.shortForecast.toLowerCase().includes('snow') && !hour.isDaytime" class="weather-img-small-night" src="../../assets/rain.png">
              <img *ngIf="(hour.shortForecast.toLowerCase().includes('snow') && !hour.shortForecast.toLowerCase().includes('rain')) || icon=='Slight Chance Flurries' || icon=='Chance Flurries' || icon=='Flurries Likely' || icon=='Flurries' || icon=='Blizzard' && isDayTime" class="weather-img-small" src="../../assets/snow.png">
              <img *ngIf="(hour.shortForecast.toLowerCase().includes('snow') && !hour.shortForecast.toLowerCase().includes('rain')) || icon=='Slight Chance Flurries' || icon=='Chance Flurries' || icon=='Flurries Likely' || icon=='Flurries' || icon=='Blizzard' && !isDayTime" class="weather-img-small-night" src="../../assets/snow.png">
              <img *ngIf="hour.shortForecast.toLowerCase().includes('rain') && hour.shortForecast.toLowerCase().includes('snow') && hour.isDaytime" class="weather-img-small" src="../../assets/rainsnow.png">
              <img *ngIf="hour.shortForecast.toLowerCase().includes('rain') && hour.shortForecast.toLowerCase().includes('snow') && !hour.isDaytime" class="weather-img-small-night" src="../../assets/rainsnow.png">
              <img *ngIf="hour.shortForecast.toLowerCase().includes('thunderstorms') && hour.isDaytime" class="weather-img-small" src="../../assets/thunderday.png">
              <img *ngIf="hour.shortForecast.toLowerCase().includes('thunderstorms') && !hour.isDaytime" class="weather-img-small-night" src="../../assets/thundernight.png">
              <span class="short-forecast">{{hour.shortForecast}}</span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>
