<div class="bg-image">
  <div class="row">
    <div class="column left">
      <div class="about-text">
        <div class="header">Welcome to Pixel Weather!</div>
        <br/>
        Here is the
        <u>
          <a href="https://github.com/liamgillies/weather-app" target="_blank">Github link</a>
        </u>
        if you're interested.
        <br/>
        <br/>
        <div>
          Any suggestions, comments or discussion for anything is welcome!<br/>
          Note: You will need to create an account to comment.
        </div>
        <br/>
        <br/>
        <div>
          Version: 1.0 <br/>
          Last Update: N/A
        </div>
      </div>
    </div>

    <div class="column right">
      <div class="right-container">
        <div class="header">Suggestions/Feedback</div>
        <div class="comments-container">
          <form [formGroup]="commentForm" (ngSubmit)="addBaseComment()">
            <textarea placeholder="Add a comment:" rows="3" formControlName="comment"></textarea>
            <button class="btn-dark" type="submit">
              Add comment
            </button>
            <span *ngIf="commentForm.controls.comment.errors">
              <div class="errors" *ngIf="submitted">Comment is required</div>
            </span>
            <div class="errors" *ngIf="submitted && !loggedIn">You must log in to comment</div>
          </form>

          <div *ngFor="let comment of baseComments">
            <div class="comment">
              <div class="header">
              <span class="username">
                {{comment.username}}
              </span>
                <span class="date">
                {{comment.date | date: medium}}
              </span>
              <span type="button" class="delete" title="Delete comment" *ngIf="comment.own" (click)="delete(comment)">X</span>
              <span class="spacer" *ngIf="!comment.own"></span>
              <br/>
              </div>
              <span class="text">
                {{comment.text}}
              </span>
              <br/>
              <br/>
              <div class="likes-dislikes-ctr">
                <span class="likes">
                  <button id="like" [ngClass]="{'like-clicked': getLocalStorageItem(comment._id) == 'liked' ||
                  (comment.usersLiked.includes(currentUser._id) && !comment.likeFlag)}" (click)="like(comment)">Like {{comment.likes}}</button>
                </span>
                <span class="dislikes">
                  <button id="dislike" [ngClass]="{'dislike-clicked': getLocalStorageItem(comment._id) == 'disliked' ||
                  (comment.usersDisliked.includes(currentUser._id) && !comment.dislikeFlag)}" (click)="dislike(comment)">Dislike {{comment.dislikes}}</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




